<%- include("../partials/header")%>

<div id="main" class="main container mb-5">

    <div class="row d-flex justify-content-center my-4">
        <div class="col-12 py-5 d-flex justify-content-center desc">          
            <h5>Ο κωδικός σας δεν άλλαξε. Παρουσιάστηκε κάποιο σφαλμα. Παρακαλώ δοκιμάστε αργότερα. </h5>
        </div>
    </div>            
</div>

<%- include("../partials/footer")%>
