<%- include("../partials/header")%>

<div id="main" class="main container mb-5">
    <div class="row d-flex justify-content-center my-4">
        <div class="col-12  d-flex justify-content-center py-5 desc">          
            <h3>Ο κωδικός σας άλλαξε με επιτυχία.</h3>
        </div>
    </div>            
</div>

<%- include("../partials/footer")%>
