<%- include("./partials/header")%>

<div id="main" class="main container-fluid product"  >
  <div class="row my-4 d-flex justify-content-start">
    <div class="mx-auto mt-2" style="align-items: center;">
      <h3>
        <b>
          <div>Η σελίδα δεν υπάρχει<hr class="normal"align="center" /></div>
        </b>
      </h3>
    </div>
  </div>
</div>  

<%- include("./partials/footer")%>