<div id="main" class="main container-fluid product"  >
  <div class="row my-4 d-flex justify-content-center">
    <div class="mx-auto mt-2" style="align-items: center;">
      <h3>
        <b>
          <div>Οι προσπάθειες σύνδεσης έχουν ξεπεράσει το όριο<hr class="normal" align="center" /></div>
        </b>
      </h3>
      <h6>Προσπαθήστε αργότερα</h6>
	</div>
  </div>
</div>  