<%- include("./partials/header")%>

<div id="main" class="main container-fluid product"  >
  <div class="row my-4 d-flex justify-content-center">
    <div class="mx-auto mt-2" style="align-items: center;">
      <h3>
        <b>
          <div>Εσωτερικό Σφάλμα<hr class="normal" align="center" /></div>
        </b>
      </h3>
      <h6>Σας Ζητάμε συγνώμη για την αναστάτωση</h6>
	</div>
  </div>
</div>  

<%- include("./partials/footer")%>