<%- include("partials/header")%>

<div class="container main">
  <div class="row">
    <div class="col-lg-7 d-flex justify-content-center">
      <img id="selectedColor" class="bottomImage" src="http://localhost:3000/images/black_t_shirt.png" style="max-width:100%;max-height:100%;display:block;"></img>
      <img class="topImage" id="uploadedImage" >
    </div>
    <div class="col-lg-5 pt-4">
      <form method="POST" action="/custom/new" enctype="multipart/form-data">
        <div class="form-row">
          <div class="col ml-4">
            <label ">Χρώμα</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col ml-4 mb-3">
            <select id="tshirtColor" name="color" class="form-control" style="width:50%" onchange="changeShirtColor();">
              <option selected>Μάυρο</option>
              <option>Άσπρο</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col ml-4">
            <label >Μέγεθος</label>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col ml-4">
            <select id="tshirtSize" name="size" class="form-control" style="width:50%">
              <option selected>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col ml-4">
            <label >Τιμή</label>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col ml-4">
              <input type="text" readonly name="price" class="form-control-plaintext" id="tshirtPrice" value="12" style="width:6%; display: inline;">€
          </div>
        </div>
        <div class="form-row">
          <div class="col ml-4">
            <label>Επιλέξτε αρχείο</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col ml-4">
            <input id="stampImage" type="file" name="image" class="form-control-file" accept="image/*" onchange="loadImage(this);">
          </div>
        </div>
        <div class="form-row mt-4 mb-4">
          <div class="col ml-4">
             <button type="submit" class="btn btn-dark btn-lg" style="border-radius:0px">Προσθήκη στο καλάθι</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer")%>
