<%- include("./partials/header")%>

<div id="main" class="container main mb-5">
	<div class="container-fluid my-4">
		<% if(!currentUser){ %>
			<div class="desc">
				Η περίοδος σύνδεσής σας έχει λήξει
				<script nonce="<%=nonce%>" type="text/javascript" src="/scripts/relocate.js"></script>
			</div>
		<% } %>
	</div>	
</div>	

<script nonce="<%=nonce%>" type="text/javascript" src="/scripts/user.js"></script>
<%- include("./partials/footer")%>		