.dropdown-menu {
  width:25rem;
  padding: 0rem;
  margin:0rem;
  font-size: 1.15rem;
  background-color: white;
  z-index: 7!important;
}
.quick-cart-container{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  overflow: auto; 
  max-height:20em;
  padding: 0.5rem;
  background-color: #f8f9fa;

}
.quick-cart-fonts{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.quick-cart-img{
  text-align: center;
  width:70%;
  border-radius: 2px;
}

.total-quantity-info{
    background:#F8F9FA;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}
@media screen and (max-width:576px){
  .dropdown-menu {
      width:18rem;
      padding: 0rem;
      margin:0rem;
      font-size: 1rem;
    }
    .quick-cart-container{
      padding: 0.5rem;
      style
    }
    .quick-cart-img{
      text-align: center;
      width:90%;
    }
  .total-quantity-info{
    background:#F8F9FA;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
  }
}

@media only screen 
   and (max-width : 320px) {
   
   .dropdown-menu {
      width:18rem;
      padding: 0rem;
      margin:0rem;
      font-size: 1rem;
    }
    .quick-cart-container{
      padding: 0.5rem;
      style
    }
    .quick-cart-img{
      text-align: center;
      width:90%;
    }
    .total-quantity-info{
      background:#F8F9FA;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 0.75rem;
    }
}