.checkout * {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}
.chkout {
  width: 480px;
}

.chk-group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.chkout label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.chkout-pay label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 60px;
  line-height: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.chk-group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

.chkout label > span {
  width: 120px;
  text-align: right;
  margin-right: 30px;
}

.chk-field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}

.chk-field::-webkit-input-placeholder {
  color: #CFD7E0;
}

.chk-field::-moz-placeholder {
  color: #CFD7E0;
}

.chkout button {
  float: left;
  display: block;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  width: 100%;
  line-height: 38px;
  outline: none;
}

.chkout button:focus {
  background: #555ABF;
}

.chkout button:active {
  background: #43458B;
}

.chk-outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.chk-success,
.chk-error {
  display: none;
  font-size: 13px;
}

.chk-success.visible,
.chk-error.visible {
  display: inline;
}

.chk-error {
  color: #E4584C;
}

.chk-success {
  color: #666EE8;
}

.chk-success .token {
  font-weight: 500;
  font-size: 13px;
}
.wrninput{
  float: right;
  display: block;
  background-color: #F8D7DA;
  color: #721C24;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}
.hidden{
  display: none;
}
.product-micro{
  padding-top: 5px;
  margin: 0px;
}


/*Modal*/

/* The Modal (background) */
.modal-chk {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 10 !important; /* Sit on top */
}

/* Modal Content */
.modal-content-chk {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 480px;
}
 .circle-loader {
   margin-bottom: 3.5em;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-left-color: #5cb85c;
   animation: loader-spin 1.2s infinite linear;
   position: relative;
   display: inline-block;
   vertical-align: top;
   border-radius: 50%;
   width: 7em;
   height: 7em;
}
 .load-complete {
   -webkit-animation: none;
   animation: none;
   border-color: #5cb85c;
   transition: border 500ms ease-out;
}
 .checkmark {
   display: none;
}
 .checkmark.draw:after {
   animation-duration: 800ms;
   animation-timing-function: ease;
   animation-name: checkmark;
   transform: scaleX(-1) rotate(135deg);
}
 .checkmark:after {
   opacity: 1;
   height: 3.5em;
   width: 1.75em;
   transform-origin: left top;
   border-right: 3px solid #5cb85c;
   border-top: 3px solid #5cb85c;
   content: '';
   left: 1.75em;
   top: 3.5em;
   position: absolute;
}
 @keyframes loader-spin {
   0% {
     transform: rotate(0deg);
  }
   100% {
     transform: rotate(360deg);
  }
}
 @keyframes checkmark {
   0% {
     height: 0;
     width: 0;
     opacity: 1;
  }
   20% {
     height: 0;
     width: 1.75em;
     opacity: 1;
  }
   40% {
     height: 3.5em;
     width: 1.75em;
     opacity: 1;
  }
   100% {
     height: 3.5em;
     width: 1.75em;
     opacity: 1;
  }
}
 .failed {
   -webkit-animation: none;
   animation: none;
   border-color: #f00;
   transition: border opacity 500ms ease-out;
}
 .failed .status {
   top: 50%;
   left: 50%;
   position: absolute;
}
 .failed .status.draw:before, .failed .status.draw:after {
   animation-duration: 1.2s;
   animation-timing-function: ease;
   animation-name: crossmark;
}
 .failed .status.draw:before {
   transform: scaleX(-1) rotate(45deg);
}
 .failed .status.draw:after {
   transform: scaleX(-1) rotate(225deg);
}
 .failed .status:before, .failed .status:after {
   opacity: 1;
   height: 2em;
   width: 2em;
   transform-origin: left top;
   border-right: 2px solid #f00;
   border-top: 2px solid #f00;
   content: '';
   position: absolute;
}
 .failed .status:before {
   left: calc(1.656854259em - 4px);
   top: calc(4px - 1.656854259em);
}
 .failed .status:after {
   left: calc(5.656854259px - 1.656854259em);
   top: calc(1.656854259em - 2.8284271295px);
}

 @keyframes crossmark {
   0% {
     height: 0;
     width: 0;
     opacity: 1;
  }
   20% {
     height: 0;
     width: 2em;
     opacity: 1;
  }
   40% {
     height: 2em;
     width: 2em;
     opacity: 1;
  }
   100% {
     height: 2em;
     width: 2em;
     opacity: 1;
  }
}
.product-image img{
    width:4em;
    height:6em;
  } 

@media screen and (max-width:576px){
  .product-image img{
    width:4em;
    height:6em;
  }
  .product-micro{
    font-size: 12px;
  }
  .prices-content{
    font-size: 12px;
  }
}
@media screen and (max-width:486px){
  .chkout{
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
  }
  .card-element{
    width: 99vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    font-size:9px;
  }
  .chkout2{
    width: auto;
    height: auto;
    margin: 0 auto;
    z-index: 10!important;
    font-size: 12px;
  }
}

.hidden{
  display: none;
}