.page-footer{
	font-family: 'Vollkorn',serif;
	font-weight: 600;
	font-size: 15px;
	color: white;
	box-shadow: -8px -9px 5px 0px rgba(0,0,0,0.75);
  position: static;
  width:100%;
  bottom: 0;
}

.page-footer a{
	color: #FFFFFF;
}	

#desc{
	text-align: center;
}

#logo-foot img{
	width: 5em;
	height: 8em;
}

#logo-foot img:hover {
  opacity: 0.75;
}
#logo-foot img:hover:active {
  content:url("http://localhost:3000/images/logo3.png");
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  filter: drop-shadow(5px 5px 5px #222);
  transform: translateY(4px);
}
